terraform/.terraform
/terraform/terraform.tfstate.backup
/terraform/terraform.tfstate.*.backup
/ansible/site.retry
**/.vagrant
/terraform/account.json
/packer/output
/packer/packer_cache
/ca/*.csr
/packer/tf-vars.json
/terraform/k8s-join.auto.tfvars
/octavia_ca/client_ca/private/client.cert-and-key.pem
/terraform/terraform.tfstate
/docker/cievents/cievents
/vyos/build
/vyos/target
/terraform/terraform-client-key.pem
/ipxe/out
/ansible/ee/context
/packer/freeipa/id-packer.pub
/packer/freeipa/id-packer
/terraform/aws-config
