# {{ ansible_managed }}

# Reference pool
pool 0.us.pool.ntp.org iburst

# Peer servers
{% for server in chrony_server_peers %}
server {{ server }} iburst
{% endfor %}

{% if chrony_server_hardware_gps %}
# Hardware time source
refclock SHM 0 poll 3 refid GPS
refclock PPS /dev/pps0 refid PPS lock GPS
{% endif %}

# Allow access to Chrony
allow {{ chrony_server_allow }}

# This directive specify the location of the file containing ID/key pairs for
# NTP authentication.
keyfile /etc/chrony/chrony.keys

# This directive specify the file into which chronyd will store the rate
# information.
driftfile /var/lib/chrony/chrony.drift

# Uncomment the following line to turn logging on.
#log tracking measurements statistics

# Log files location.
logdir /var/log/chrony

# Stop bad estimates upsetting machine clock.
maxupdateskew 100.0

# This directive enables kernel synchronisation (every 11 minutes) of the
# real-time clock. Note that it can’t be used along with the 'rtcfile' directive.
rtcsync

# Step the system clock instead of slewing it if the adjustment is larger than
# one second, but only in the first three clock updates.
makestep 1 3
