# {{ ansible_managed }}
VIRTUAL_HOST=pihole.{{ pihole_default_domain }}
PROXY_LOCATION=pihole.{{ pihole_default_domain }}
ServerIP=127.0.0.1
PIHOLE_DNS_=172.17.0.1#5335
WEBPASSWORD={{ pihole_web_password }}
